.desktop_one_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading_one{
    font-size: 42px;
    line-height: 50.95px;
    font-weight: 400;
    color: #1F2937;
}

.para_one{
    font-size: 32px;
    line-height: 38.82px;
    font-weight: 400;
    color: #1F2937;
}