.third_right_side {
  width: 629.74px;
  height: 268.67px;
  top: 172px;
  left: 730px;
  border-radius: 9px;
  border: 2px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third_right_side_text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.click_icon_setting {
  width: 66.72px;
  height: 66.72px;
}
.wall_image {
  width: 629px;
  height: 407px;
}

.price_text {
  color: #1F2937;
  font-size: "18px";
}

.price_number{
  color: #0BB764 !important;
}

.btn_md{
  width: 60%;
}
